<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.test.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="address" property="address" />
        <result column="date_of_birth" property="date_of_birth" />
        <result column="dial_code" property="dial_code" />
        <result column="mobile" property="mobile" />
        <result column="icon" property="icon" />
        <result column="image" property="image" />
        <result column="height" property="height" />
        <result column="profession" property="profession" />
        <result column="introduction" property="introduction" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, gender, address, date_of_birth, dial_code, mobile, icon, image, height, profession, introduction
    </sql>


    <sql id="Base_Alias_Column_List">
        user.id as user_id,user.name as user_name,user.gender as user_gender,user.address as user_address,user.date_of_birth as user_date_of_birth,user.dial_code as user_dial_code,user.mobile as user_mobile,user.icon as user_icon,user.image as user_image,user.height as user_height,user.profession as user_profession,user.introduction as user_introduction
    </sql>

    <resultMap id="selectSimpleResultMap" type="java.util.HashMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <association  property="user" columnPrefix="user_"
                      resultMap="com.test.mapper.UserMapper.BaseResultMap"/>
    </resultMap>

    <select id="selectSimple" resultMap="com.test.mapper.UserMapper.BaseResultMap" >
        select <include refid="com.test.mapper.UserMapper.Base_Column_List"/> from t_user
    </select>

    <select id="selectMapSimple" resultMap="com.test.mapper.UserMapper.selectSimpleResultMap" >
        select <include refid="com.test.mapper.UserMapper.Base_Alias_Column_List"/> from t_user as user
    </select>

</mapper>